* {
    padding: 0px;
    margin: 0px;
    outline: none;
}



#container2 {
    display: grid;
    height: auto;
    grid-template-areas:
            "articel1";
    background-color: rgb(255, 51, 51);
    font-family: 'Roboto:400', sans-serif;
}
#header {
    height: auto;
    background-color: rgb(255, 224, 102);
}
div#header h1 {
    text-align: center;
    color:rgb(255, 51, 51) ;
    font-family: 'Bungee Inline', cursive;
}
h4 {
    color:rgb(255, 224, 102) ;
}
div#articel1 {
    margin: 10px;
}
div#articel1 img {

}
.img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}
div.kleinwordje p {
    text-align: center;
    color: blue;
}
@media all and (min-width: 768px) {
    div.img img {
        height: 400px;
        width: 600px;
    }
}