
* {
    padding: 0px;
    margin: 0px;
    outline: none;

}


@media all and (min-width: 768px) {
#container {
    display: grid;
    height: auto;
    grid-template-areas:
"articel1 footer"
"articel2 articel2"
"articel3 articel3"
"articel4 articel4";
    background-color: rgb(255, 51, 51);
    font-family: 'Roboto:400', sans-serif;
}


    div#header h1 {
        float: left;
        font-size: 50px;
    }

    div#header h2 {
        float: right;
        margin-top: 140px;
        margin-right: 10px;

    }
    div#articel1 h2 {

    }
    div#articel1 p {

    }

    #articel2 {
        grid-column: 1/1;
    }
    div#article2 p {

    }
    #articel2 {
        grid-column: 1/1;
    }
    div#articel3 {
        grid-column: 1/1;

    }
    #articel4 {
        grid-column: 1/1;
    }
    div#articel4 p {

    }

div#footer h1 {
    margin-right: 10px;
    text-align: center;
}

}